<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    {% include header.html %}
    {% include docs_header.html %}
    {% if page.title %}
      {% include banner.html %}
    {% endif %}

    {{ content }}
    
    {% include footer.html %}

  </body>
  <script type="text/javascript">window.MathJax = false;</script>
  <script type="text/x-mathjax-config"> 
          MathJax.Hub.Config({ 
          tex2jax: {inlineMath: [["$","$"],["\,"\" />"</span><spanclass="crayon−sy">,</span><spanclass="crayon−s">" "]]}
              });
</script><script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>
</html>
